
/* General
-------------------------------------------------------------- */

html, body {
	height: 100%;
	color: #333;
	font: 12pt 'Source Sans Pro', sans-serif;
}

code,
pre {
	font: 10pt 'Source Code Pro', sans-serif;
}

pre {
	margin: 20px 0 20px 0;
	padding: 10px;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: #000;
	background: #eee;
	border: 1px solid #ccc;
}

a, a:link, a:hover {
	color: #690;
}

/* Layout
-------------------------------------------------------------- */

#wrapper {
	height: auto;
	min-height: 100%;
	margin: 40px;
}

header#header {
	width: 100%;
}

header#header img#logo {
	margin: 0 0 20px 0;
}

section#content {
	float: left;
	width: 70%;
}

aside#sidebar {
	float: right;
	width: 25%;
}

footer#colophon {
	clear: both;
	display: block;
	width: 100%;
	padding: 20px 0;
}

/* Navigation
-------------------------------------------------------------- */

#topnav {
	float: left;
	width: 100%;
	margin: 0 0 10px;
	display: block;
	background: #ddd;
	border: 1px solid #ccc;
	border-radius: 3px;
}

#topnav a {
	display: block;
	line-height: 30px;
	padding: 0 20px;
	text-decoration: none;
}

#topnav ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#topnav li {
	float: left;
	position: relative;
}

#topnav ul ul {
	position: absolute;
	display: none;
	float: left;
	top: 30px;
}

#topnav ul ul a {
	line-height: 15px;
	padding: 10px 10px 10px 20px;
	width: 200px;
	height: auto;
	background: #ddd;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#topnav ul ul a:hover {
	background: #ccc;
}

#topnav ul ul ul {
	left: 100%;
	top: 0;
}

#topnav li:hover > a,
#topnav ul ul:hover > a {
	background: #ddd;
}

#topnav ul li:hover > ul {
	display: block;
	background: #ccc;
}

/* Content
-------------------------------------------------------------- */

#content section {
	padding: 0 0 20px 0;
	border-bottom: 1px solid #ccc;
}

#content nav {
	display: block;
	overflow: hidden;
}

#content nav .nav-previous {
	float: left;
	width: 50%;
}

#content nav .nav-next {
	float: right;
	width: 50%;
	text-align: right;
}

#content #nav-above {
	display: none;
}

#content #nav-below {
	margin: 10px 0 0;
}

#content #commentform label {
	display: block;
}

/* Aside
-------------------------------------------------------------- */

#sidebar #searchform label {
	display: block;
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

/* Images
-------------------------------------------------------------- */

p img {
	margin-bottom: 5px;
}

img.alignleft {
	margin-right: 5px;
}

img.alignright {
	margin-left: 5px;
}

img.border {
	border: 1px solid #ccc; 
}

.wp-caption {
	padding: 5px;
	text-align: center;
}

.wp-caption img {
	margin: 5px;
}

.wp-caption .wp-caption-text {
	margin: 5px;
}

/* Alignment
-------------------------------------------------------------- */

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* 404
-------------------------------------------------------------- */

.error404 .widget {
	float: left;
	width: 33%;
}

.error404 .widget .widgettitle,
.error404 .widget ul {
	margin-right: 20px;
}

/* Special
-------------------------------------------------------------- */

.wordpress-icon {
	background: url("../images/icon-wordpress.svg") no-repeat scroll left center transparent;
	background-size: 16px 16px;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}

.pristine-icon {
	background: url("../images/icon-github.svg") no-repeat scroll left center transparent;
	background-size: 16px 16px;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}

input[type="submit"] {
	font: 12pt 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 0 10px;
	background: #690;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

textarea {
	width: 100%;
}