html, body, div, span, applet, object, iframe, blockquote, pre, abbr, acronym, address, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, img {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	/*background:transparent;*/
}